.form {
  font-size: 50px;
  padding: 20px 20px;
  border: 1px solid black;
  border-radius: 8px;
  width: 380px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
  font-size: 35px;
  transition: all 250ms ease-in;
  border-radius: 10px;
  margin: 0 auto;
}
.btn:hover {
  background-color: rgb(139, 139, 139);
  color: white;
}
.input {
  background-color: rgb(189, 189, 189);
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 300px;
  font-size: 24px;
  padding: 12px 20px;
}
