h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
  color: currentColor;
}

input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-4.0.3&auto=format&fit=crop&w=1350&q=80");
  background-size: 110%;
  background-position: center;
  background-repeat: repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  animation: backgroundZoom 5s infinite alternate;
  overflow: visible;
} */

/* @keyframes backgroundZoom {
  0% {
    background-size: 110%;
  }
  100% {
    background-size: 120%;
  }
}
.urban {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 60px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .urban {
    left: 8px;
    top: 8px;
    width: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .urban {
    left: 10px;
    top: 10px;
    width: 100px;
  }
} */
